## .NET
bin/
obj/
*.user
*.suo
.vs/
*.nupkg
!packages/*.nupkg
*.snupkg
!packages/*.snupkg

## Rider / VS / VSCode
.idea/
.vscode/
*.DotSettings.user

## OS
.DS_Store
Thumbs.db
docs/node_modules/
docs/.vitepress/dist/
